
 body {
    background: rgb(198, 212, 229);
    color: rgba(240, 240, 240);
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


h1, h2 {
    font-size: medium;
    font-weight: bold;
    color: rgb(100, 130, 155); 
  }
/*
  .container {
    display: flex;
    justify-content: center; 
    width: 100%;
  }
  */
  .column {
    color: rgb(80, 100, 130);
    width: 50%; 
  flex-direction: column;
  padding: 10px;
  border: 1px solid #fefefe;
  background-color: #dbe2f7;
  }


#skills {
    margin-right: 10px;
}


p {
    color: rgb(100, 130, 155);
}

.a {
    text-align: center;
    color: rgb(100, 130, 155);
}
.b {
    text-align: center;
    color: rgba(71, 92, 255, 0.2);
    justify-content: center; 

}

ol {
    color: rgb(80, 100, 130);
    display: inline-block;
    text-align: center;
}
.message {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

nav {
    text-align: center;
}

a:link {
    color: rgb(80, 100, 130);
    background-color: transparent;
    text-decoration: none;
}

footer {
    color: rgb(31, 48, 61);
    position:relative;
    right:100;
    height:10px
}

.container {
    /* display: flex; */
    justify-content: center; 
    width: 100%;
    display: grid; 
    grid-template-columns: repeat(1, 1fr);
    gap: 20px; /* space between items */
}

.navigation ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 10px;
    background-color: #f0f0f0;
}

.navigation a {
    text-decoration: none;
    color: #353648;
}

.experience-grid {
    display: flex;
    flex-wrap: wrap; /* Allows elements to wrap to the next */
    justify-content: space-between; 
}

.experience-item {
    width: 45%;
    padding: 10px;
    box-sizing: border-box;
}


.message-form .form-grid {
    display: grid;
    grid-template-columns: auto 1fr; /* columns */
    grid-gap: 10px; 
    align-items: center; /* vertical */
}

.message-form .form-grid textarea {
    grid-column: 2; /* second column */
    grid-row: 3; 
}

.message-form .form-grid button {
    grid-column: 2; 
}



/* MEDIA */

@media screen and (max-width: 768px) {
    .navigation ul {
        flex-direction: column; /* vertical */
    }

    .message-form .form-grid {
        grid-template-columns: 1fr; /* Single column layout */
    }

    .message-form .form-grid textarea,
    .message-form .form-grid button {
        grid-column: 1; /* Align with the first column */
    }

    .experience-item {
        width: 100%; 
    }
}
