/*  Change the background color of the page body V
 Change the default text color V
 Customize the font family V
(Optional) Load in a font family from Google Fonts
 Add spacing (padding/margin) between sections V
 Change the font size, weight, and color of all headings
 Transform the "Experience" list items into styled blocks
 Transform the "Skills" list items into styled blocks
 Style the "Leave a Message" form elements
Change font size and color of labels
Change font size, padding, border, etc. of inputs and textarea
Add spacing (padding/margin) between form fields
Change padding, background color, border, etc. of submit button
 Transform the "Messages" list items into styled blocks and customize the button(s)
 Change the spacing and background color of the footer
 Use Media Queries to make sure the webpage is responsive for all device sizes 
 (mobile, tablet, desktop, etc.) */

 body {
    background: rgb(198, 212, 229);
    color: rgba(240, 240, 240);
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


h1, h2 {
    font-size: medium;
    font-weight: bold;
    color: rgb(100, 130, 155); 
  }

  .container {
    display: flex;
    justify-content: center; 
    width: 100%;
  }
  
  .column {
    color: rgb(80, 100, 130);
    width: 50%; 
  flex-direction: column;
  padding: 10px;
  border: 1px solid #fefefe;
  background-color: #dbe2f7;
  }


#skills {
    margin-right: 10px;
}


p {
    color: rgb(100, 130, 155);
}

.a {
    text-align: center;
    color: rgb(100, 130, 155);
}
.b {
    text-align: center;
    color: rgba(71, 92, 255, 0.2);
    justify-content: center; 

}

ol {
    color: rgb(80, 100, 130);
    display: inline-block;
    text-align: center;
}
.message {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

nav {
    text-align: center;
}

a:link {
    color: rgb(80, 100, 130);
    background-color: transparent;
    text-decoration: none;
}

footer {
    color: rgb(31, 48, 61);
    position:relative;
    right:100;
    height:10px
}

